.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
}

.card {
  width: 400px;
  height: 400px;
  margin: 10px;
  position: relative;
  background-color: var(--color1);
}

.card-content {
  padding: 15px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}

.card-content > *{
  height: 50px;
}

.btn {
  margin: 15px 0;
}