.card-container {
  padding: 0 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 224px;
  height: 224px;
  margin: 10px;
  position: relative;
  background-color: var(--color1);
}

.card-content {
  padding: 15px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card-content *{
  margin: 5px 0;
}

.card > a {
  text-decoration: none;
  color:white;
}

.card:hover{
  background-color: #6e8898;
}

.info{
  font-size: 20px;
}

.title{
  font-size: 25px;
}

.page-header > img {
  margin-left: 10px;
}

.page-header > img:first-of-type {
  margin-left: 15px;
}
