{% extends 'base.html' %} 
{% load static %} 

{% block head %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/songs/song-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Songs</h1>
</section>

<section class="card-container">
  {% for song in song_list %}
  <div class="card">
    <a href="{% url 'songs_detail' song.id %}">
      <div class="card-content">
        <div class="title">{{ song.title }}</div>
        <div class="info">{{ song.singer }}</div>
      </div>
    </a>
  </div>
  {% endfor %}
</section>

{% endblock %}