{% extends 'base.html' %} 
{% load static %} 

{% block head %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/songs/song-detail.css' %}"
/>
{% endblock %}

{% block content %}
<div class="container">
  <div class="card">
    <div class="card-content">
      <div class="title">{{ song.title }}</div>
      <div class="info">{{ song.singer }}</div>
      <div class="info">Album:  {{ song.album }}</div>
      <div class="info">Composer:  {{ song.composer }}</div>
      {%if song.user == user %}
      <div>Created by you</div>
      <div>
        <a href="{% url 'songs_update' song.id %}" class="btn warn">Edit</a>
        <a href="{% url 'songs_delete' song.id %}" class="btn danger">Delete</a>
      </div>
      {%else%}
      <div>Created by {{song.user}}</div>
      {% endif %}

    </div>
  </div>
</div>

{% endblock %}