{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/playlists/playlist-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Playlist Index</h1>
  {% comment %} <img src="{% static 'images/cool-cat.svg' %}" alt="A cool cat" />
  <img src="{% static 'images/happy-cat.svg' %}" alt="A happy cat" />
  <img src="{% static 'images/teacup-cat.svg' %}" alt="A cat in a teacup" />
  <img src="{% static 'images/cat-in-box.svg' %}" alt="A cat in a box" /> {% endcomment %}
</section>

<section class="card-container">
  {% for playlist in playlists %}
    <div class="card">
      <div class="card-content">
        <div class="card-img-container">
          <img 
            src="{% static 'images/music.jpg' %}" 
            alt="A skater boy cat"
            style="{{ "width: 100%" }}"
          >
        </div>
        <h2 class="card-title">{{ playlist.name }}</h2>
        <p><small>{{ playlist.description }}</small></p>
      </div>
    </div>
  {% endfor %}
</section>

{% endblock %}