{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
  rel="shortcut icon"
  type="image/png"
  href="{% static 'images/short-cut.svg' %}"
  >
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
  <title>Playlist Collector</title>
  {% block head %}
  {% endblock %}
</head>
<body>
  <header>
    <div class="header-logo-container">
      <a href="/">
        <img 
        src="{% static 'images/logo.jpg' %}"
        alt="The Playlist Collector Logo"
        style="{{"height:100%;width:35px;"}}"
      >
      </a>
    </div>
    <nav>
      <ul>
        {% if user.is_authenticated %}
          <li><a href="{% url 'playlists_index' %}">All Playlists</a></li>
          <li><a href="{% url 'songs_index' %}">All Songs</a></li>
          <li><a href="{% url 'Playlists_create' %}">Add a Playlist</a></li>
          <li><a href="{% url 'songs_create' %}">Add a Song</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'logout' %}">Log out</a></li>
        {% else %}
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'home' %}">Login</a></li>
        {% endif %}
      </ul>
    </nav>
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>