{% extends 'base.html' %}
{% load static %}

{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
<script defer src="{% static 'js/font-animation.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>


{% endblock %}

{% block content %}

<section class="logo-container">
  <div class="playlist-container">
    <img class="rotate" src="{% static 'images/vinyl2.png' %}" alt="The Playlist Collector Playlist" style="{{ "width:80%;" }}" />
  </div>
  <div class="ml16 app-name">
    PLAYLIST COLLECTOR
  </div>
  
</section>
{% if not user.is_authenticated %}
  <section>
    <form action="{% url 'home' %}" method="post" class="login">
      <h1>Login</h1>
      {% csrf_token %}
      {{ form.as_p }}
      <input type="hidden" name="next" value="{{ next }}">
      <button type="submit" class="btn submit">Login</button>
    </form>
  </section>
{% endif %}
{% endblock %}