.page-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.page-container img{
  border-radius: 20px;
  width: 40vw;
  margin: 20px;
}

.app-information{
  padding: 10px;
  margin: 20px;
  text-align: center;
}
