.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 90vh;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 800px;
  background-color: var(--color1);
  /* border: 2px solid; */
  padding: 20px 0;
  border-radius: var(--card-border-radius);
  margin-bottom: 20px;
}

table {
  padding: 0 40px;
  width: 100%;
  border-spacing: 0 20px;
}

th {
  text-align: center;
  padding: 5px 25px 5px 0;
  font-weight: normal;
  vertical-align: top;
  font-size: 20px;
  color: white;
  width: 50px;
}

td {
  max-width: 60%;
  width: 200px;
}

td > * {
  width: 100%;
  padding: 2px 4px;
  font-size: var(--font-l);
  color: white;
}

td > textarea {
  height: calc(4 * var(--font-l) + 8px);
  font-family: inherit;
}

.btn {
  align-self: flex-end;
  margin-right: 40px;
}

td > span{
  font-size: 15px;
}

select > option{
  background-color: var(--nav-bg);
}