.card-container {
  padding: 0 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 275px;
  margin: 10px;
  /* border: var(--borders); */
  /* box-shadow: var(--card-box-shadow); */
  text-align: center;
  background-color: var(--color1);
  border-radius: 20px;
  padding: 10px 15px;
}

.card-content {
  padding: 10px;
  width: 100%;
  color:white;
}

.usr-img {
  width: 100%;
  border-radius: var(--card-border-radius);
}

.card > a {
  text-decoration: none;
  color: var(--text-color);
}

.card h2 {
  margin: 10px 0;
  font-size: var(--font-xl);
}

.card p {
  margin: 5px 0;
  font-size: var(--font-reg);
}

.card:hover{
  background-color: #6e8898;
}